.input {
  margin: 2rem auto;
  padding: 1rem;
  width: 90%;
  max-width: 40rem;
  text-transform: lowercase;
}

.input label {
  display: block;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.input input {
  font: inherit;
  display: block;
  width: 100%;
  background-color: rgb(237, 242, 244);
  border: 1px solid #ccc;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
  border-radius: 5px;
  padding: 0.25rem;
  margin-bottom: 1.5rem;
}

.input input:focus {
  outline: none;
  color: #fff;
  border-color: rgba(43, 45, 66);
  background-color: rgba(0, 0, 0, 0.5);
}
