@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Mulish', sans-serif;
  font-size: 1.15rem;
  background: #1f1f1f;
}

body {
  margin: 0;
}
